<div ng-if="questionnaire" class="card">
  <form ng-submit="onSubmit()">
    <p class="card-title text-center">{{ questionnaire.title }}</p>
    <p class="card col-8 offset-2">{{ questionnaire.description }}</p>
    <ol>
      <li ng-repeat="question in questionnaire.questionList">
        <p>{{ question.text }}</p>
        <ul style='list-style: none' class='p-0'>
          <li ng-repeat="answer in question.answers">
            <div class="input-group col-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    ng-model="answers[$parent.$index]"
                    required
                    type="radio"
                    id="{{ answer._id }}"
                    name="{{ question._id }}"
                    value="{{ answer._id }}"
                  />
                </div>
              </div>
              <label class="ml-2" for="{{ answer._id }}">{{ answer.text }}</label>
            </div>
          </li>
        </ul>
      </li>
    </ol>
    <br />
    <button class="btn btn-success m-4">Submit</button>
  </form>
</div>
